Implementação/Auton — Atendimento Principal.json
{
  "name": "Auton — Atendimento Principal v3",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        640,
        3984
      ],
      "id": "39c8f827-49d9-4de4-919c-518d60bb7333",
      "name": "WAHA Trigger",
      "webhookId": "8462e0a9-8508-46ca-9954-9a150589d7aa"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\n\nif (body.payload?.fromMe === true) return [];\nif (body.event && body.event !== 'message') return [];\n\nconst from  = body.payload?.from || '';\nconst phone = from.replace(/@.*$/, '');\nconst text  = (body.payload?.body || '').trim();\n\nif (!from || !text) return [];\n\nreturn [{ json: {\n  phone,\n  chatId:  from,\n  text,\n  session: body.session || 'default',\n  raw:     body.payload\n} }];"
      },
      "id": "9a10f308-e11e-4567-8696-55da9201f0f4",
      "name": "Parsear mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        3984
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "patient_phone",
              "condition": "eq",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "id": "cb525e77-d764-485a-bc9b-81a3e8f9f147",
      "name": "Buscar conversa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        3808
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Parsear mensagem').item.json.phone }}"
            }
          ]
        }
      },
      "id": "69358b99-d650-4d54-864c-e57115f40308",
      "name": "Buscar paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        3984
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "is_available",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "date",
              "condition": "gte",
              "keyValue": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        }
      },
      "id": "423f1be3-4f45-462b-9953-e070e782e094",
      "name": "Buscar slots",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        4160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed  = $('Parsear mensagem').item.json;\nconst convAll = $('Buscar conversa').all();\nconst patAll  = $('Buscar paciente').all();\nconst slotAll = $('Buscar slots').all();\n\nconst conv    = convAll[0]?.json || { state: 'idle', context: '{}', clinic_id: null };\nconst patient = patAll[0]?.json  || null;\nconst slots   = slotAll.map(s => s.json);\n\nreturn [{ json: {\n  phone:    parsed.phone,\n  chatId:   parsed.chatId,\n  text:     parsed.text,\n  session:  parsed.session,\n  conv, patient, slots,\n  clinicId: slots[0]?.clinic_id || conv.clinic_id || 'aaaaaaaa-0000-0000-0000-000000000001'\n} }];"
      },
      "id": "d423fdd6-88af-4303-b31d-a60839f86e14",
      "name": "Montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        3984
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst { text, phone, chatId, session, conv, patient, slots, clinicId } = data;\n\nconst state = conv?.state || 'idle';\nlet ctx = {};\ntry { ctx = typeof conv?.context === 'string' ? JSON.parse(conv.context) : (conv?.context || {}); } catch(e) {}\n\nconst input = text.trim().toLowerCase();\nconst num   = parseInt(text.trim());\n\nconst dias = ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'];\nconst top5 = (slots || []).slice(0, 5);\nconst slotsList = top5.length\n  ? top5.map((s, i) => {\n      const d = new Date(s.date + 'T00:00:00-03:00');\n      return `${i+1}. ${dias[d.getDay()]} ${d.toLocaleDateString('pt-BR',{day:'2-digit',month:'2-digit'})} as ${s.time.slice(0,5)}`;\n    }).join('\\n')\n  : null;\n\nconst SERVICES = ['Consulta clinica', 'Retorno', 'Exame laboratorial'];\n\nconst MENU_MSG =\n  'Ola! Sou a assistente virtual da Clinica Piloto.\\n\\n' +\n  'Como posso ajudar?\\n\\n' +\n  '1. Agendar consulta\\n' +\n  '2. Cancelar consulta\\n' +\n  '3. Falar com a recepcao\\n\\n' +\n  'Digite o numero da opcao.';\n\nconst SERVICES_MSG =\n  'Qual servico voce precisa?\\n\\n' +\n  '1. Consulta clinica\\n' +\n  '2. Retorno\\n' +\n  '3. Exame laboratorial\\n\\n' +\n  'Digite o numero.';\n\nlet message    = '';\nlet newState   = 'menu';\nlet newContext = {};\nlet action     = 'reply';\nlet bookingData = null;\n\nswitch (state) {\n\n  case 'menu':\n    if (num === 1) {\n      if (!slotsList) {\n        message  = 'Nao ha horarios disponiveis no momento.\\nTente amanha ou ligue para a recepcao.';\n        newState = 'idle';\n      } else {\n        message  = SERVICES_MSG;\n        newState = 'selecting_service';\n      }\n    } else if (num === 2) {\n      message  = 'Para cancelar sua consulta, entre em contato com nossa recepcao.\\nEm breve voce podera cancelar por aqui mesmo!';\n      newState = 'idle';\n    } else if (num === 3) {\n      message  = 'Certo! Nossa recepcionista vai entrar em contato em breve.';\n      newState = 'idle';\n    } else {\n      message  = 'Nao entendi. Por favor, escolha uma opcao:\\n\\n' + MENU_MSG;\n      newState = 'menu';\n    }\n    break;\n\n  case 'selecting_service':\n    if (num >= 1 && num <= 3) {\n      const svc = SERVICES[num - 1];\n      if (!slotsList) {\n        message  = 'Sem horarios disponiveis agora.\\nTente amanha ou ligue para a recepcao.';\n        newState = 'idle';\n      } else {\n        message  = `Otimo! Horarios disponiveis para ${svc}:\\n\\n${slotsList}\\n\\nDigite o numero do horario desejado.`;\n        newState = 'selecting_slot';\n        newContext = { service: svc };\n      }\n    } else {\n      message  = 'Escolha uma opcao valida (1, 2 ou 3):\\n\\n' + SERVICES_MSG;\n      newState = 'selecting_service';\n      newContext = ctx;\n    }\n    break;\n\n  case 'selecting_slot':\n    const svc = ctx.service || 'Consulta clinica';\n    if (num >= 1 && num <= top5.length) {\n      const slot    = top5[num - 1];\n      const d       = new Date(slot.date + 'T00:00:00-03:00');\n      const dateStr = `${dias[d.getDay()]} ${d.toLocaleDateString('pt-BR',{day:'2-digit',month:'2-digit'})} as ${slot.time.slice(0,5)}`;\n      const patientId = patient?.id || 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n        const r = Math.random() * 16 | 0;\n        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n      });\n      message  = `Agendamento confirmado!\\n\\nServico: ${svc}\\nData: ${dateStr}\\n\\nAte la! Voce recebera um lembrete no dia anterior.`;\n      newState = 'idle';\n      action   = 'book';\n      bookingData = {\n        slot, slotId: slot.id, service: svc,\n        patientId, patientName: patient?.name || 'Paciente',\n        clinicId: slot.clinic_id || clinicId\n      };\n    } else {\n      message  = `Escolha um numero entre 1 e ${top5.length}:\\n\\n${slotsList}`;\n      newState = 'selecting_slot';\n      newContext = ctx;\n    }\n    break;\n\n  case 'confirming':\n    const isYes = num === 1 || ['sim','s','ok','confirmo','vou'].some(w => input.includes(w));\n    if (isYes) {\n      message = 'Presenca confirmada! Ate amanha.\\n\\nLembre-se: chegue 15 minutos antes.';\n    } else {\n      message = 'Tudo bem! Sua consulta foi cancelada. Quando quiser reagendar, e so chamar.';\n    }\n    newState = 'idle';\n    break;\n\n  case 'idle':\n  default:\n    message  = MENU_MSG;\n    newState = 'menu';\n    break;\n}\n\nconst convId = conv?.id || 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n});\n\nreturn [{ json: {\n  message, newState, newContext, action, bookingData,\n  phone, chatId, session, clinicId, convId,\n  conv, patient, slots\n} }];"
      },
      "id": "a37d03f7-9293-4289-91d7-d531aaca2364",
      "name": "Processar estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        3984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-book",
              "leftValue": "={{ $json.action }}",
              "rightValue": "book",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c688cc3-2e9f-4bd0-b329-d885f6cd216f",
      "name": "IF Agendar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1792,
        3984
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "patients",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $('Processar estado').item.json.bookingData.clinicId }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Processar estado').item.json.phone }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Processar estado').item.json.patient?.name || 'Paciente' }}"
            }
          ]
        }
      },
      "id": "ee960a67-2377-4842-a79f-fd364561e719",
      "name": "Upsert Paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        3808
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $('Processar estado').item.json.bookingData.clinicId }}"
            },
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "slot_id",
              "fieldValue": "={{ $('Processar estado').item.json.bookingData.slotId }}"
            },
            {
              "fieldId": "service",
              "fieldValue": "={{ $('Processar estado').item.json.bookingData.service }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "agendado"
            }
          ]
        }
      },
      "id": "6a3713f7-95e5-4b43-9f37-e006a55413e7",
      "name": "Criar Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        3648
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Processar estado').item.json.bookingData.slotId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_available",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "93ec939a-ebd5-4b66-8beb-c3211e86ca71",
      "name": "Bloquear Slot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        3488
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const proc   = $('Processar estado').item.json;\nconst apptId = $('Criar Appointment').item.json?.id || null;\nreturn [{ json: {\n  message:    proc.message,\n  newState:   proc.newState,\n  newContext: apptId ? { appointment_id: apptId } : {},\n  phone:      proc.phone,\n  chatId:     proc.chatId,\n  session:    proc.session,\n  clinicId:   proc.clinicId,\n  convId:     proc.convId\n} }];"
      },
      "id": "ae318023-1860-4ff9-8d23-d99172f7f30a",
      "name": "Prep pos agendamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        3648
      ]
    },
    {
      "parameters": {
        "jsCode": "const proc = $('Processar estado').item.json;\nreturn [{ json: {\n  message:    proc.message,\n  newState:   proc.newState,\n  newContext: proc.newContext,\n  phone:      proc.phone,\n  chatId:     proc.chatId,\n  session:    proc.session,\n  clinicId:   proc.clinicId,\n  convId:     proc.convId\n} }];"
      },
      "id": "4edd2400-a85f-4b6f-bc12-b8b67b8b387e",
      "name": "Prep reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        4160
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $json.clinicId }}"
            },
            {
              "fieldId": "patient_phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.newState }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ JSON.stringify($json.newContext) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "0f8b31e7-2c33-425b-8312-9f71d0b15320",
      "name": "Upsert Conversa (booking)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2512,
        3648
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $json.clinicId }}"
            },
            {
              "fieldId": "patient_phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.newState }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ JSON.stringify($json.newContext) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "3f80d53d-3a04-417c-a010-96c4c5d8d9ff",
      "name": "Upsert Conversa (reply)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2272,
        4160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2768,
        3664
      ],
      "id": "7bdcf567-72cd-4927-8640-3986226d15f1",
      "name": "Enviar WAHA (booking)",
      "credentials": {
        "wahaApi": {
          "id": "pam1IYvLfhtPzmQJ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2512,
        4160
      ],
      "id": "a3ed396e-3ab9-4df6-839a-bbeafdfe0aab",
      "name": "Enviar WAHA (reply)",
      "credentials": {
        "wahaApi": {
          "id": "pam1IYvLfhtPzmQJ",
          "name": "WAHA account"
        }
      }
    }
  ],
  "pinData": {
    "WAHA Trigger": [
      {
        "json": {
          "id": "evt_01kqa7byb84yg8ey65zcdwzskz",
          "timestamp": 1777385994601,
          "event": "message",
          "session": "default",
          "metadata": {},
          "me": {
            "id": "556182365437@c.us",
            "pushName": "Mateo",
            "lid": "124416646238274@lid"
          },
          "payload": {
            "id": "false_263620881551525@lid_3A611A7701A1E25BC22E",
            "timestamp": 1777385994,
            "from": "263620881551525@lid",
            "fromMe": false,
            "source": "app",
            "body": "vou abrir ak e ver se tem coisa recente",
            "hasMedia": false,
            "media": null,
            "ack": 2,
            "ackName": "DEVICE",
            "location": null,
            "vCards": null,
            "replyTo": null,
            "_data": {
              "key": {
                "remoteJid": "263620881551525@lid",
                "remoteJidAlt": "556182082144@s.whatsapp.net",
                "fromMe": false,
                "id": "3A611A7701A1E25BC22E",
                "participant": "",
                "addressingMode": "lid"
              },
              "messageTimestamp": 1777385994,
              "pushName": "Lucas Wall",
              "broadcast": false,
              "message": {
                "extendedTextMessage": {
                  "text": "vou abrir ak e ver se tem coisa recente",
                  "contextInfo": {
                    "expiration": 0,
                    "ephemeralSettingTimestamp": "1687229753",
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT"
                    }
                  }
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "mYke1FUCOPAKjw==",
                    "senderTimestamp": "1777289716",
                    "recipientKeyHash": "gdPAmcODyBPRCw==",
                    "recipientTimestamp": "1777384072"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "n05L7pnUbHggAdmHqwHHC2AAYg3sNXSy8hS82X1fZyE="
                }
              },
              "status": 3
            }
          },
          "engine": "NOWEB",
          "environment": {
            "version": "2026.4.2",
            "engine": "NOWEB",
            "tier": "CORE",
            "browser": null,
            "platform": "linux/x64",
            "worker": {
              "id": null
            }
          }
        },
        "pairedItem": {
          "item": 0,
          "input": 1
        }
      }
    ]
  },
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Parsear mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear mensagem": {
      "main": [
        [
          {
            "node": "Buscar conversa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar paciente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conversa": {
      "main": [
        [
          {
            "node": "Montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar paciente": {
      "main": [
        [
          {
            "node": "Montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar slots": {
      "main": [
        [
          {
            "node": "Montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar contexto": {
      "main": [
        [
          {
            "node": "Processar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar estado": {
      "main": [
        [
          {
            "node": "IF Agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Agendar": {
      "main": [
        [
          {
            "node": "Upsert Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Paciente": {
      "main": [
        [
          {
            "node": "Criar Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Appointment": {
      "main": [
        [
          {
            "node": "Bloquear Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear Slot": {
      "main": [
        [
          {
            "node": "Prep pos agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep pos agendamento": {
      "main": [
        [
          {
            "node": "Upsert Conversa (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversa (booking)": {
      "main": [
        [
          {
            "node": "Enviar WAHA (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep reply": {
      "main": [
        [
          {
            "node": "Upsert Conversa (reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversa (reply)": {
      "main": [
        [
          {
            "node": "Enviar WAHA (reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "610a89be-3828-4365-82c6-2a989e66841f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ad4c56b60c14134e39a97816f64e21e1e10cfc1e1f0c2c71ef48a10399ba54e"
  },
  "id": "TaqOVDiTXCagiuaR",
  "tags": []
}
