Implementação/Auton — Atendimento Principal.json
{
  "name": "Auton — Atendimento Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "70c9cc37-ed4b-434e-b5ac-bf0fb23d683e",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1456, 160],
      "webhookId": "auton-waha-incoming"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nconst body = raw.body || raw;\n\nif (body.payload?.fromMe === true) return [];\nif (body.event && body.event !== 'message') return [];\n\nconst phone = (body.payload?.from || '').replace('@c.us', '').replace('+', '').replace(/\\D/g, '');\nconst text  = (body.payload?.body || '').trim();\n\nif (!phone || !text) return [];\n\nreturn [{ json: { phone, text, session: body.session || 'default', raw: body.payload } }];"
      },
      "id": "44a8b355-4a07-4b20-8754-d37b186efdab",
      "name": "Parsear mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1232, 160]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "patient_phone",
              "condition": "eq",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "id": "fa7071ac-b33d-47a3-8f5b-a2c1fff97121",
      "name": "Buscar conversa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1024, 16],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Parsear mensagem').item.json.phone }}"
            }
          ]
        }
      },
      "id": "6f39da55-60e1-4a6d-b851-1680e5152643",
      "name": "Buscar paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1024, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "is_available",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "date",
              "condition": "gte",
              "keyValue": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {
          "limit": 10
        }
      },
      "id": "25768fa6-29b2-4dcd-a1bf-3bf647e86ec0",
      "name": "Buscar slots",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1024, 304],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed  = $('Parsear mensagem').item.json;\nconst convAll = $('Buscar conversa').all();\nconst patAll  = $('Buscar paciente').all();\nconst slotAll = $('Buscar slots').all();\n\nconst conv    = convAll[0]?.json || { state: 'idle', context: '{}', clinic_id: null };\nconst patient = patAll[0]?.json  || null;\nconst slots   = slotAll.map(s => s.json);\n\nlet ctx = {};\ntry { ctx = typeof conv.context === 'string' ? JSON.parse(conv.context) : (conv.context || {}); } catch(e) {}\n\nconst dias = ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'];\nconst slotsList = slots.length\n  ? slots.map((s, i) => {\n      const d = new Date(s.date + 'T00:00:00-03:00');\n      return `${i+1}. ${dias[d.getDay()]} ${d.toLocaleDateString('pt-BR',{day:'2-digit',month:'2-digit'})} às ${s.time.slice(0,5)}`;\n    }).join('\\n')\n  : 'Nenhum horário disponível no momento.';\n\nconst systemPrompt = `Você é a assistente virtual da Clínica Piloto Auton, especializada em agendamentos.\n\nSERVIÇOS DISPONÍVEIS:\n- Consulta clínica\n- Retorno\n- Exame laboratorial\n\nHORÁRIOS DISPONÍVEIS (próximos ${slots.length} slots livres):\n${slotsList}\n\nDADOS DO PACIENTE:\n- Nome: ${patient?.name || 'Novo paciente'}\n- Última visita: ${patient?.last_visit || 'Nunca'}\n\nESTADO DA CONVERSA: ${conv.state || 'idle'}\nCONTEXTO: ${JSON.stringify(ctx)}\n\nINSTRUÇÕES:\n1. Responda SEMPRE com JSON válido neste formato exato (sem texto fora do JSON):\n   {\"action\": \"...\", \"message\": \"...\", \"data\": {}}\n\n2. ACTIONS disponíveis:\n   - reply_only          → só responder, sem mudança de estado\n   - update_state        → mudar estado (data obrigatório: {state, context})\n   - book_appointment    → agendar (data obrigatório: {slot_index: 0-${slots.length - 1}, service: \"...\"})\n   - confirm_appointment → confirmar consulta do lembrete D-1 (SOMENTE quando state = confirming)\n   - cancel_appointment  → cancelar consulta do lembrete D-1 (SOMENTE quando state = confirming)\n\n3. FLUXO NORMAL (state != confirming):\n   idle → identifying (pedir nome se novo) → scheduling (mostrar slots) → book_appointment\n\n4. FLUXO CONFIRMAÇÃO (state = confirming):\n   Paciente está respondendo ao lembrete enviado pelo sistema.\n   - Resposta positiva (1, sim, ok, confirmo, vou, estarei lá, etc.) → action = \"confirm_appointment\"\n   - Resposta negativa (2, não, nao, cancela, não posso, não vou, etc.) → action = \"cancel_appointment\"\n   - Confirmação: mensagem simpática confirmando o horário\n   - Cancelamento: mensagem simpática, informe que a vaga será liberada e ofereça remarcar quando quiser\n   - Em ambos: data = {}\n\n5. REGRAS GERAIS:\n   - Use APENAS os horários listados acima para agendar\n   - Se não houver horários: informe e peça para tentar amanhã\n   - Fora do escopo: \"Para isso fale com a recepção 😊\"\n   - Tom: informal, simpático, objetivo, português BR\n   - Emojis com moderação (✅ 📅 ⏰ 😊)\n   - Ao confirmar novo agendamento: inclua nome, serviço, data e hora`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage: parsed.text,\n    phone:    parsed.phone,\n    session:  parsed.session,\n    slots,\n    patient,\n    conv,\n    ctx,\n    clinicId: slots[0]?.clinic_id || conv.clinic_id || null\n  }\n}];"
      },
      "id": "248bc2d7-ffc6-4a8c-8847-72cf5b10a3a0",
      "name": "Montar contexto Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type",       "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 512,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.userMessage) }} }]\n}",
        "options": {}
      },
      "id": "ee53059a-5018-4fd8-93c6-a96ac48a9389",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-576, 160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whtcMiXQaQqdpSKb",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json?.content?.[0]?.text || '{}';\nconst ctx = $('Montar contexto Claude').item.json;\n\nlet resp;\ntry {\n  const clean = rawText.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\n  resp = JSON.parse(clean);\n} catch(e) {\n  resp = { action: 'reply_only', message: 'Desculpe, tive um probleminha aqui. Pode repetir? 😅', data: {} };\n}\n\nreturn [{\n  json: {\n    action:   resp.action  || 'reply_only',\n    message:  resp.message || '',\n    data:     resp.data    || {},\n    phone:    ctx.phone,\n    session:  ctx.session,\n    slots:    ctx.slots,\n    patient:  ctx.patient,\n    conv:     ctx.conv,\n    ctx:      ctx.ctx,\n    clinicId: ctx.clinicId\n  }\n}];"
      },
      "id": "f2107bbd-4ddd-40ef-b2c5-a093afee3e6b",
      "name": "Parsear Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-352, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "check-book",
              "leftValue": "={{ $json.action }}",
              "rightValue": "book_appointment",
              "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8204d66f-ba75-4486-9f32-4c534a7d4565",
      "name": "Roteador",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-144, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "check-confirm",
              "leftValue": "={{ $json.action }}",
              "rightValue": "confirm_appointment",
              "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "IF Confirmar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-144, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "check-cancel",
              "leftValue": "={{ $json.action }}",
              "rightValue": "cancel_appointment",
              "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "IF Cancelar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-144, 520]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst slotIndex = item.data?.slot_index ?? 0;\nconst slot = item.slots[slotIndex];\nconst service = item.data?.service || 'Consulta clínica';\n\nif (!slot) {\n  return [{ json: { ...item, error: 'Slot inválido — índice ' + slotIndex + ' não existe', selectedSlot: null } }];\n}\n\nconst { randomUUID } = require('crypto');\nconst patientId   = item.patient?.id || randomUUID();\nconst patientName = item.data?.name || item.ctx?.name || item.patient?.name || 'Paciente';\n\nreturn [{ json: { ...item, selectedSlot: slot, service, patientId, patientName } }];"
      },
      "id": "1b1b4482-3c6f-4938-9d94-f95c565a063",
      "name": "Prep Agendamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, -100]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "patients",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id",        "fieldValue": "={{ $json.patientId }}" },
            { "fieldId": "clinic_id", "fieldValue": "={{ $json.clinicId }}" },
            { "fieldId": "phone",     "fieldValue": "={{ $json.phone }}" },
            { "fieldId": "name",      "fieldValue": "={{ $json.patientName }}" }
          ]
        }
      },
      "id": "47e156ee-7e8e-408a-a621-eed5920e8718",
      "name": "Upsert Paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [304, -280],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "clinic_id",  "fieldValue": "={{ $('Prep Agendamento').item.json.clinicId }}" },
            { "fieldId": "patient_id", "fieldValue": "={{ $json.id }}" },
            { "fieldId": "slot_id",    "fieldValue": "={{ $('Prep Agendamento').item.json.selectedSlot.id }}" },
            { "fieldId": "service",    "fieldValue": "={{ $('Prep Agendamento').item.json.service }}" },
            { "fieldId": "status",     "fieldValue": "agendado" }
          ]
        }
      },
      "id": "07d97515-36d5-4b9b-9825-8b26ff05d3a3",
      "name": "Criar Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [304, -100],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "slots",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Prep Agendamento').item.json.selectedSlot.id }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "is_available", "fieldValue": "false" }
          ]
        }
      },
      "id": "02d4b587-da3a-4a67-84cd-ca847023e94c",
      "name": "Bloquear Slot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [304, 100],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst appointmentId = item.ctx?.appointment_id || null;\nreturn [{ json: { ...item, appointmentId } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "Prep Confirmação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, 360]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.appointmentId }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status",       "fieldValue": "confirmado" },
            { "fieldId": "confirmed_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Confirmar Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [304, 360],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst appointmentId = item.ctx?.appointment_id || null;\nreturn [{ json: { ...item, appointmentId } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Prep Cancelamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, 520]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.appointmentId }}" }
          ]
        }
      },
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Buscar Appointment Ativo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [304, 520],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "cancelado" }
          ]
        }
      },
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Cancelar Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [496, 520],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "slots",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Buscar Appointment Ativo').item.json.slot_id }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "is_available", "fieldValue": "true" }
          ]
        }
      },
      "id": "aa000001-0000-0000-0000-000000000008",
      "name": "Liberar Slot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [688, 520],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/lista-de-espera",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic_id\": {{ JSON.stringify($('Buscar Appointment Ativo').item.json.clinic_id) }},\n  \"slot_id\":   {{ JSON.stringify($('Buscar Appointment Ativo').item.json.slot_id) }},\n  \"service\":   {{ JSON.stringify($('Buscar Appointment Ativo').item.json.service) }}\n}",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000009",
      "name": "Notificar Lista de Espera",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 520],
      "notes": "Dispara o workflow Lista de Espera de forma assíncrona (webhook responde imediatamente). neverError=true evita que uma fila vazia quebre o fluxo principal."
    },
    {
      "parameters": {
        "jsCode": "// Sempre referencia Parsear Claude pelo nome — garante que phone, clinicId,\n// conv, ctx etc. estejam presentes independentemente de qual branch\n// (booking, confirmação, cancelamento, fallback) chegou até este nó.\nconst parsed = $('Parsear Claude').item.json;\n\nlet newState   = parsed.conv?.state || 'idle';\nlet newContext = parsed.ctx || {};\n\nif (parsed.action === 'update_state' && parsed.data?.state) {\n  newState   = parsed.data.state;\n  newContext = typeof parsed.data.context === 'object' ? parsed.data.context : {};\n} else if (['book_appointment', 'confirm_appointment', 'cancel_appointment'].includes(parsed.action)) {\n  newState   = 'idle';\n  newContext = {};\n}\n\nconst { randomUUID } = require('crypto');\nconst convId = parsed.conv?.id || randomUUID();\n\nreturn [{ json: { ...parsed, convId, newState, newContext } }];"
      },
      "id": "cc001234-0000-0000-0000-000000000002",
      "name": "Prep Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 160]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id",            "fieldValue": "={{ $json.convId }}" },
            { "fieldId": "clinic_id",     "fieldValue": "={{ $json.clinicId }}" },
            { "fieldId": "patient_phone", "fieldValue": "={{ $json.phone }}" },
            { "fieldId": "state",         "fieldValue": "={{ $json.newState }}" },
            { "fieldId": "context",       "fieldValue": "={{ JSON.stringify($json.newContext) }}" },
            { "fieldId": "updated_at",    "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "6edc2620-18c9-4e47-809d-2abe7e233521",
      "name": "Atualizar Conversa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 160],
      "credentials": { "supabaseApi": { "id": "ArEp44L1ngousPz7", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha-production-c02b.up.railway.app/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": {{ JSON.stringify($('Parsear Claude').item.json.session) }},\n  \"chatId\": \"{{ $('Parsear Claude').item.json.phone }}@c.us\",\n  \"text\": {{ JSON.stringify($('Parsear Claude').item.json.message) }}\n}",
        "options": {}
      },
      "id": "1475f93b-aecd-4f53-ab4c-efdfe2e09e6a",
      "name": "Enviar WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "8fe36ef3-1c39-4016-81ff-ee719571eedc",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 160]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WAHA": {
      "main": [[{ "node": "Parsear mensagem", "type": "main", "index": 0 }]]
    },
    "Parsear mensagem": {
      "main": [[
        { "node": "Buscar conversa", "type": "main", "index": 0 },
        { "node": "Buscar paciente", "type": "main", "index": 0 },
        { "node": "Buscar slots",    "type": "main", "index": 0 }
      ]]
    },
    "Buscar conversa": {
      "main": [[{ "node": "Montar contexto Claude", "type": "main", "index": 0 }]]
    },
    "Buscar paciente": {
      "main": [[{ "node": "Montar contexto Claude", "type": "main", "index": 0 }]]
    },
    "Buscar slots": {
      "main": [[{ "node": "Montar contexto Claude", "type": "main", "index": 0 }]]
    },
    "Montar contexto Claude": {
      "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]]
    },
    "Claude API": {
      "main": [[{ "node": "Parsear Claude", "type": "main", "index": 0 }]]
    },
    "Parsear Claude": {
      "main": [[{ "node": "Roteador", "type": "main", "index": 0 }]]
    },
    "Roteador": {
      "main": [
        [{ "node": "Prep Agendamento", "type": "main", "index": 0 }],
        [{ "node": "IF Confirmar",     "type": "main", "index": 0 }]
      ]
    },
    "IF Confirmar": {
      "main": [
        [{ "node": "Prep Confirmação", "type": "main", "index": 0 }],
        [{ "node": "IF Cancelar",      "type": "main", "index": 0 }]
      ]
    },
    "IF Cancelar": {
      "main": [
        [{ "node": "Prep Cancelamento", "type": "main", "index": 0 }],
        [{ "node": "Prep Conversa",     "type": "main", "index": 0 }]
      ]
    },
    "Prep Agendamento": {
      "main": [[{ "node": "Upsert Paciente", "type": "main", "index": 0 }]]
    },
    "Upsert Paciente": {
      "main": [[{ "node": "Criar Appointment", "type": "main", "index": 0 }]]
    },
    "Criar Appointment": {
      "main": [[{ "node": "Bloquear Slot", "type": "main", "index": 0 }]]
    },
    "Bloquear Slot": {
      "main": [[{ "node": "Prep Conversa", "type": "main", "index": 0 }]]
    },
    "Prep Confirmação": {
      "main": [[{ "node": "Confirmar Appointment", "type": "main", "index": 0 }]]
    },
    "Confirmar Appointment": {
      "main": [[{ "node": "Prep Conversa", "type": "main", "index": 0 }]]
    },
    "Prep Cancelamento": {
      "main": [[{ "node": "Buscar Appointment Ativo", "type": "main", "index": 0 }]]
    },
    "Buscar Appointment Ativo": {
      "main": [[{ "node": "Cancelar Appointment", "type": "main", "index": 0 }]]
    },
    "Cancelar Appointment": {
      "main": [[{ "node": "Liberar Slot", "type": "main", "index": 0 }]]
    },
    "Liberar Slot": {
      "main": [[{ "node": "Notificar Lista de Espera", "type": "main", "index": 0 }]]
    },
    "Notificar Lista de Espera": {
      "main": [[{ "node": "Prep Conversa", "type": "main", "index": 0 }]]
    },
    "Prep Conversa": {
      "main": [[{ "node": "Atualizar Conversa", "type": "main", "index": 0 }]]
    },
    "Atualizar Conversa": {
      "main": [[{ "node": "Enviar WAHA", "type": "main", "index": 0 }]]
    },
    "Enviar WAHA": {
      "main": [[{ "node": "Responder 200", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "bad2de9b-64e1-49c7-8268-9c957aa0dd14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aec8f8a2dcc72fb894779bb30d2c9ac98c4fe17b595dbadd040d49fc744c4ba8"
  },
  "id": "knRIGVdF92pjThDg",
  "tags": []
}
