Implementação/Auton — Lista de Espera.json
{
  "name": "Auton — Lista de Espera",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lista-de-espera",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wl000001-0000-0000-0000-000000000001",
      "name": "Webhook Lista de Espera",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 160],
      "webhookId": "auton-lista-espera",
      "notes": "Recebe POST com {clinic_id, slot_id, service} vindo do workflow principal após cancelamento."
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst b = raw.body || raw;\nreturn [{ json: { clinic_id: b.clinic_id, slot_id: b.slot_id, service: b.service || 'Consulta clínica' } }];"
      },
      "id": "wl000001-0000-0000-0000-000000000002",
      "name": "Normalizar input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 160]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "waitlist",
        "filters": {
          "conditions": [
            {
              "keyName": "clinic_id",
              "condition": "eq",
              "keyValue": "={{ $json.clinic_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "aguardando"
            }
          ]
        },
        "options": {
          "limit": 10
        }
      },
      "id": "wl000001-0000-0000-0000-000000000003",
      "name": "Buscar fila",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-720, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ordena por priority ASC e retorna apenas o primeiro candidato.\n// Se não houver ninguém na fila, retorna [] e o workflow para.\nconst items = $input.all().map(i => i.json);\nif (!items.length) return [];\n\nconst sorted = [...items].sort((a, b) => (a.priority ?? 999) - (b.priority ?? 999));\nconst first  = sorted[0];\n\nconst webhook = $('Normalizar input').item.json;\nreturn [{\n  json: {\n    waitlistId: first.id,\n    patientId:  first.patient_id,\n    clinicId:   first.clinic_id || webhook.clinic_id,\n    service:    first.service   || webhook.service,\n    slotId:     webhook.slot_id\n  }\n}];"
      },
      "id": "wl000001-0000-0000-0000-000000000004",
      "name": "Pegar primeiro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 160],
      "notes": "Se a fila estiver vazia, retorna [] e o workflow encerra sem erro."
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.patientId }}"
            }
          ]
        }
      },
      "id": "wl000001-0000-0000-0000-000000000005",
      "name": "Buscar paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-240, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Pegar primeiro').item.json.slotId }}"
            }
          ]
        }
      },
      "id": "wl000001-0000-0000-0000-000000000006",
      "name": "Buscar slot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [0, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const patient = $('Buscar paciente').item.json;\nconst slot    = $('Buscar slot').item.json;\nconst first   = $('Pegar primeiro').item.json;\n\nconst dias  = ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'];\nconst d     = new Date(slot.date + 'T00:00:00-03:00');\nconst diaStr = `${dias[d.getDay()]}, ${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')}`;\nconst hora  = slot.time.slice(0, 5);\nconst nome  = patient.name || 'paciente';\nconst svc   = first.service || 'consulta';\n\nconst message =\n  `Olá, ${nome}! 😊\\n\\n` +\n  `Você estava na nossa lista de espera para *${svc}* e uma vaga acabou de abrir!\\n\\n` +\n  `Agendamos você para *${diaStr}* às *${hora}*. 📅\\n\\n` +\n  `Confirme respondendo com *1 — Confirmar ✅* ou cancele com *2 — Cancelar ❌*`;\n\nreturn [{\n  json: {\n    phone:      patient.phone,\n    session:    'default',\n    message,\n    waitlistId: first.waitlistId,\n    patientId:  patient.id,\n    slotId:     slot.id,\n    clinicId:   first.clinicId,\n    service:    svc\n  }\n}];"
      },
      "id": "wl000001-0000-0000-0000-000000000007",
      "name": "Montar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 160]
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "clinic_id",  "fieldValue": "={{ $json.clinicId }}" },
            { "fieldId": "patient_id", "fieldValue": "={{ $json.patientId }}" },
            { "fieldId": "slot_id",    "fieldValue": "={{ $json.slotId }}" },
            { "fieldId": "service",    "fieldValue": "={{ $json.service }}" },
            { "fieldId": "status",     "fieldValue": "agendado" }
          ]
        }
      },
      "id": "wl000001-0000-0000-0000-000000000008",
      "name": "Criar Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Montar mensagem').item.json.slotId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "is_available", "fieldValue": "false" }
          ]
        }
      },
      "id": "wl000001-0000-0000-0000-000000000009",
      "name": "Bloquear Slot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://SEU_VPS_IP:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key",    "value": "WAHA_API_KEY_AQUI" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": {{ JSON.stringify($('Montar mensagem').item.json.session) }},\n  \"chatId\": \"{{ $('Montar mensagem').item.json.phone }}@c.us\",\n  \"text\": {{ JSON.stringify($('Montar mensagem').item.json.message) }}\n}",
        "options": {}
      },
      "id": "wl000001-0000-0000-0000-000000000010",
      "name": "Enviar WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 160]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "waitlist",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Montar mensagem').item.json.waitlistId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status",      "fieldValue": "agendado" },
            { "fieldId": "notified_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "wl000001-0000-0000-0000-000000000011",
      "name": "Atualizar Waitlist",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1200, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Lista de Espera": {
      "main": [[{ "node": "Normalizar input", "type": "main", "index": 0 }]]
    },
    "Normalizar input": {
      "main": [[{ "node": "Buscar fila", "type": "main", "index": 0 }]]
    },
    "Buscar fila": {
      "main": [[{ "node": "Pegar primeiro", "type": "main", "index": 0 }]]
    },
    "Pegar primeiro": {
      "main": [[{ "node": "Buscar paciente", "type": "main", "index": 0 }]]
    },
    "Buscar paciente": {
      "main": [[{ "node": "Buscar slot", "type": "main", "index": 0 }]]
    },
    "Buscar slot": {
      "main": [[{ "node": "Montar mensagem", "type": "main", "index": 0 }]]
    },
    "Montar mensagem": {
      "main": [[{ "node": "Criar Appointment", "type": "main", "index": 0 }]]
    },
    "Criar Appointment": {
      "main": [[{ "node": "Bloquear Slot", "type": "main", "index": 0 }]]
    },
    "Bloquear Slot": {
      "main": [[{ "node": "Enviar WAHA", "type": "main", "index": 0 }]]
    },
    "Enviar WAHA": {
      "main": [[{ "node": "Atualizar Waitlist", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "aec8f8a2dcc72fb894779bb30d2c9ac98c4fe17b595dbadd040d49fc744c4ba8"
  },
  "id": "auton-lista-espera",
  "tags": []
}
