Implementação/Auton — Atendimento Principal v3.json
{
  "name": "Auton — Atendimento Principal v3",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -720,
        1200
      ],
      "id": "28044afb-92f3-4d4a-83e5-a185e44258bb",
      "name": "WAHA Trigger",
      "webhookId": "8462e0a9-8508-46ca-9954-9a150589d7aa"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\n\nif (body.payload?.fromMe === true) return [];\nif (body.event && body.event !== 'message') return [];\n\nconst from  = body.payload?.from || '';\nconst phone = from.replace(/@.*$/, '');\nconst text  = (body.payload?.body || '').trim();\n\nif (!from || !text) return [];\n\nreturn [{ json: {\n  phone,\n  chatId:  from,\n  text,\n  session: body.session || 'default',\n  raw:     body.payload\n} }];"
      },
      "id": "c18d9999-d58c-491d-b246-1d361cc769db",
      "name": "Parsear mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1584
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "patient_phone",
              "condition": "eq",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "id": "4aebe3e3-098a-46bf-b79a-98c163d0e083",
      "name": "Buscar conversa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        1408
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Parsear mensagem').item.json.phone }}"
            }
          ]
        }
      },
      "id": "4280abeb-5ec2-49f6-be0a-c035c5972e5d",
      "name": "Buscar paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        1584
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "is_available",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "date",
              "condition": "gte",
              "keyValue": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        }
      },
      "id": "b1a5aeb0-7f86-45e8-b540-4c210c6fa945",
      "name": "Buscar slots",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        1760
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parsear mensagem').item.json;\n\nlet convAll = [], patAll = [], slotAll = [];\ntry { convAll = $('Buscar conversa').all(); } catch(e) {}\ntry { patAll  = $('Buscar paciente').all(); } catch(e) {}\ntry { slotAll = $('Buscar slots').all();    } catch(e) {}\n\nconst conv    = convAll[0]?.json || { state: 'idle', context: '{}', clinic_id: null };\nconst patient = patAll[0]?.json  || null;\nconst slots   = slotAll.map(s => s.json);\n\nreturn [{ json: {\n  phone:    parsed.phone,\n  chatId:   parsed.chatId,\n  text:     parsed.text,\n  session:  parsed.session,\n  conv, patient, slots,\n  clinicId: slots[0]?.clinic_id || conv.clinic_id || 'aaaaaaaa-0000-0000-0000-000000000001'\n} }];"
      },
      "id": "8a2e7e5c-5525-461d-ae97-c40902530ab7",
      "name": "Montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst { text, phone, chatId, session, conv, patient, slots, clinicId } = data;\n\nconst state = conv?.state || 'idle';\nlet ctx = {};\ntry { ctx = typeof conv?.context === 'string' ? JSON.parse(conv.context) : (conv?.context || {}); } catch(e) {}\n\nconst input = text.trim().toLowerCase();\nconst num   = parseInt(text.trim());\n\nconst dias = ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'];\nconst top5 = (slots || []).slice(0, 5);\nconst slotsList = top5.length\n  ? top5.map((s, i) => {\n      const d = new Date(s.date + 'T00:00:00-03:00');\n      return `${i+1}. ${dias[d.getDay()]} ${d.toLocaleDateString('pt-BR',{day:'2-digit',month:'2-digit'})} as ${s.time.slice(0,5)}`;\n    }).join('\\n')\n  : null;\n\nconst SERVICES = ['Consulta clinica', 'Retorno', 'Exame laboratorial'];\n\nconst MENU_MSG =\n  'Ola! Sou a assistente virtual da Clinica Piloto.\\n\\n' +\n  'Como posso ajudar?\\n\\n' +\n  '1. Agendar consulta\\n' +\n  '2. Cancelar consulta\\n' +\n  '3. Falar com a recepcao\\n\\n' +\n  'Digite o numero da opcao.';\n\nconst SERVICES_MSG =\n  'Qual servico voce precisa?\\n\\n' +\n  '1. Consulta clinica\\n' +\n  '2. Retorno\\n' +\n  '3. Exame laboratorial\\n\\n' +\n  'Digite o numero.';\n\nlet message    = '';\nlet newState   = 'menu';\nlet newContext = {};\nlet action     = 'reply';\nlet bookingData = null;\n\nswitch (state) {\n\n  case 'menu':\n    if (num === 1) {\n      if (!slotsList) {\n        message  = 'Nao ha horarios disponiveis no momento.\\nTente amanha ou ligue para a recepcao.';\n        newState = 'idle';\n      } else {\n        message  = SERVICES_MSG;\n        newState = 'selecting_service';\n      }\n    } else if (num === 2) {\n      message  = 'Para cancelar sua consulta, entre em contato com nossa recepcao.\\nEm breve voce podera cancelar por aqui mesmo!';\n      newState = 'idle';\n    } else if (num === 3) {\n      message  = 'Certo! Nossa recepcionista vai entrar em contato em breve.';\n      newState = 'idle';\n    } else {\n      message  = 'Nao entendi. Por favor, escolha uma opcao:\\n\\n' + MENU_MSG;\n      newState = 'menu';\n    }\n    break;\n\n  case 'selecting_service':\n    if (num >= 1 && num <= 3) {\n      const svc = SERVICES[num - 1];\n      if (!slotsList) {\n        message  = 'Sem horarios disponiveis agora.\\nTente amanha ou ligue para a recepcao.';\n        newState = 'idle';\n      } else {\n        message  = `Otimo! Horarios disponiveis para ${svc}:\\n\\n${slotsList}\\n\\nDigite o numero do horario desejado.`;\n        newState = 'selecting_slot';\n        newContext = { service: svc };\n      }\n    } else {\n      message  = 'Escolha uma opcao valida (1, 2 ou 3):\\n\\n' + SERVICES_MSG;\n      newState = 'selecting_service';\n      newContext = ctx;\n    }\n    break;\n\n  case 'selecting_slot':\n    const svc = ctx.service || 'Consulta clinica';\n    if (num >= 1 && num <= top5.length) {\n      const slot    = top5[num - 1];\n      const d       = new Date(slot.date + 'T00:00:00-03:00');\n      const dateStr = `${dias[d.getDay()]} ${d.toLocaleDateString('pt-BR',{day:'2-digit',month:'2-digit'})} as ${slot.time.slice(0,5)}`;\n      const patientId = patient?.id || 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n        const r = Math.random() * 16 | 0;\n        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n      });\n      message  = `Agendamento confirmado!\\n\\nServico: ${svc}\\nData: ${dateStr}\\n\\nAte la! Voce recebera um lembrete no dia anterior.`;\n      newState = 'idle';\n      action   = 'book';\n      bookingData = {\n        slot, slotId: slot.id, service: svc,\n        patientId, patientName: patient?.name || 'Paciente',\n        clinicId: slot.clinic_id || clinicId\n      };\n    } else {\n      message  = `Escolha um numero entre 1 e ${top5.length}:\\n\\n${slotsList}`;\n      newState = 'selecting_slot';\n      newContext = ctx;\n    }\n    break;\n\n  case 'confirming':\n    const isYes = num === 1 || ['sim','s','ok','confirmo','vou'].some(w => input.includes(w));\n    if (isYes) {\n      message = 'Presenca confirmada! Ate amanha.\\n\\nLembre-se: chegue 15 minutos antes.';\n    } else {\n      message = 'Tudo bem! Sua consulta foi cancelada. Quando quiser reagendar, e so chamar.';\n    }\n    newState = 'idle';\n    break;\n\n  case 'idle':\n  default:\n    message  = MENU_MSG;\n    newState = 'menu';\n    break;\n}\n\nconst convId = conv?.id || 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n});\n\nreturn [{ json: {\n  message, newState, newContext, action, bookingData,\n  phone, chatId, session, clinicId, convId,\n  conv, patient, slots\n} }];"
      },
      "id": "0d9297bd-7138-4cce-ad39-36ed4baf5b87",
      "name": "Processar estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-book",
              "leftValue": "={{ $json.action }}",
              "rightValue": "book",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e25901d9-16f2-4ef0-82d9-7e1c3a2e4410",
      "name": "IF Agendar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        464,
        1584
      ]
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "id": "a340550a-c32c-4662-b72b-db9ddc6eeb47",
      "name": "Upsert Paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        1408
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $('Processar estado').item.json.bookingData.clinicId }}"
            },
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "slot_id",
              "fieldValue": "={{ $('Processar estado').item.json.bookingData.slotId }}"
            },
            {
              "fieldId": "service",
              "fieldValue": "={{ $('Processar estado').item.json.bookingData.service }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "agendado"
            }
          ]
        }
      },
      "id": "95e9f46a-f2f2-4bf3-bddd-ec7ed0c217de",
      "name": "Criar Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        1248
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Processar estado').item.json.bookingData.slotId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_available",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "6e14b777-dd45-488c-a671-e4debb7ec68d",
      "name": "Bloquear Slot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        1088
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const proc   = $('Processar estado').item.json;\nconst apptId = $('Criar Appointment').item.json?.id || null;\nreturn [{ json: {\n  message:    proc.message,\n  newState:   proc.newState,\n  newContext: apptId ? { appointment_id: apptId } : {},\n  phone:      proc.phone,\n  chatId:     proc.chatId,\n  session:    proc.session,\n  clinicId:   proc.clinicId,\n  convId:     proc.convId\n} }];"
      },
      "id": "59f9a927-8400-491f-a00d-f5a3b11aeff5",
      "name": "Prep pos agendamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1248
      ]
    },
    {
      "parameters": {
        "jsCode": "const proc = $('Processar estado').item.json;\nreturn [{ json: {\n  message:    proc.message,\n  newState:   proc.newState,\n  newContext: proc.newContext,\n  phone:      proc.phone,\n  chatId:     proc.chatId,\n  session:    proc.session,\n  clinicId:   proc.clinicId,\n  convId:     proc.convId\n} }];"
      },
      "id": "65b00edf-b43d-4988-892d-6fc7f692016b",
      "name": "Prep reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1760
      ]
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "id": "71b90b36-39c8-4bd0-b475-b6ee4240b149",
      "name": "Upsert Conversa (booking)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        1248
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $json.clinicId }}"
            },
            {
              "fieldId": "patient_phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.newState }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ JSON.stringify($json.newContext) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "ec13bc1d-61e8-43e8-bf4f-9bd7d428f124",
      "name": "Upsert Conversa (reply)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        1760
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wCvxW3vxvHOjVmq4",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1440,
        1264
      ],
      "id": "f6a2a402-6174-4bef-8080-284938020d84",
      "name": "Enviar WAHA (booking)",
      "credentials": {
        "wahaApi": {
          "id": "pam1IYvLfhtPzmQJ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Prep reply').item.json.session }}",
        "chatId": "={{ $('Prep reply').item.json.chatId }}",
        "text": "={{ $('Prep reply').item.json.message }}",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1184,
        1760
      ],
      "id": "fd793079-3e94-4f04-a8fe-90809236bf7f",
      "name": "Enviar WAHA (reply)",
      "credentials": {
        "wahaApi": {
          "id": "pam1IYvLfhtPzmQJ",
          "name": "WAHA account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Parsear mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear mensagem": {
      "main": [
        [
          {
            "node": "Buscar conversa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar paciente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conversa": {
      "main": [
        [
          {
            "node": "Montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar paciente": {
      "main": [
        [
          {
            "node": "Montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar slots": {
      "main": [
        [
          {
            "node": "Montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar contexto": {
      "main": [
        [
          {
            "node": "Processar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar estado": {
      "main": [
        [
          {
            "node": "IF Agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Agendar": {
      "main": [
        [
          {
            "node": "Upsert Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Paciente": {
      "main": [
        [
          {
            "node": "Criar Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Appointment": {
      "main": [
        [
          {
            "node": "Bloquear Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear Slot": {
      "main": [
        [
          {
            "node": "Prep pos agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep pos agendamento": {
      "main": [
        [
          {
            "node": "Upsert Conversa (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversa (booking)": {
      "main": [
        [
          {
            "node": "Enviar WAHA (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep reply": {
      "main": [
        [
          {
            "node": "Upsert Conversa (reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversa (reply)": {
      "main": [
        [
          {
            "node": "Enviar WAHA (reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ccb77dfb-11e0-4db8-84bd-46bd5277d9aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ad4c56b60c14134e39a97816f64e21e1e10cfc1e1f0c2c71ef48a10399ba54e"
  },
  "id": "BYIYbO3RZiSgLLBP",
  "tags": []
}