Implementação/Auton — Confirmação D-1.json
{
  "name": "Auton — Confirmação D-1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 1-6"
            }
          ]
        }
      },
      "id": "d1000001-0000-0000-0000-000000000001",
      "name": "Trigger Diário 17h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 160],
      "notes": "Executa seg-sáb às 20:00 UTC (17:00 BRT). Ajuste o cron se o fuso do servidor for diferente."
    },
    {
      "parameters": {
        "jsCode": "// Calcula a data de amanhã no fuso de Brasília\nconst agora = new Date();\nagora.setDate(agora.getDate() + 1);\nconst amanha = agora.toISOString().split('T')[0];\n\nreturn [{ json: { amanha } }];"
      },
      "id": "d1000001-0000-0000-0000-000000000002",
      "name": "Calcular amanhã",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 160]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "slots",
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "condition": "eq",
              "keyValue": "={{ $json.amanha }}"
            },
            {
              "keyName": "is_available",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "id": "d1000001-0000-0000-0000-000000000003",
      "name": "Buscar slots de amanhã",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-720, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "slot_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "agendado"
            }
          ]
        }
      },
      "id": "d1000001-0000-0000-0000-000000000004",
      "name": "Buscar appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-480, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.patient_id }}"
            }
          ]
        }
      },
      "id": "d1000001-0000-0000-0000-000000000005",
      "name": "Buscar paciente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-240, 160],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slot    = $('Buscar slots de amanhã').item.json;\nconst appt    = $('Buscar appointment').item.json;\nconst patient = $('Buscar paciente').item.json;\n\n// Formatar data por extenso no fuso BRT\nconst dias   = ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'];\nconst meses  = ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez'];\nconst d      = new Date(slot.date + 'T00:00:00-03:00');\nconst diaStr = `${dias[d.getDay()]}, ${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')}`;\nconst hora   = slot.time.slice(0, 5);\nconst nome   = patient.name || 'paciente';\n\nconst message =\n  `Olá, ${nome}! 👋\\n\\n` +\n  `Lembrando que você tem *${appt.service || 'consulta'}* agendada para ` +\n  `*amanhã (${diaStr})* às *${hora}*. ⏰\\n\\n` +\n  `Você confirma o comparecimento?\\n\\n` +\n  `*1 — Sim, estarei lá ✅*\\n` +\n  `*2 — Não poderei comparecer ❌*`;\n\nreturn [{\n  json: {\n    phone:         patient.phone,\n    session:       'default',\n    message,\n    appointmentId: appt.id,\n    clinicId:      appt.clinic_id,\n    patientPhone:  patient.phone,\n    slotDate:      slot.date,\n    slotTime:      slot.time\n  }\n}];"
      },
      "id": "d1000001-0000-0000-0000-000000000006",
      "name": "Montar lembrete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://95.216.204.119:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": {{ JSON.stringify($json.session) }},\n  \"chatId\": \"{{ $json.phone }}@c.us\",\n  \"text\": {{ JSON.stringify($json.message) }}\n}",
        "options": {}
      },
      "id": "d1000001-0000-0000-0000-000000000007",
      "name": "Enviar WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [240, 160]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "lembrete_enviado"
            },
            {
              "fieldId": "reminder_sent_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "d1000001-0000-0000-0000-000000000008",
      "name": "Atualizar appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 0],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $('Montar lembrete').item.json.clinicId }}"
            },
            {
              "fieldId": "patient_phone",
              "fieldValue": "={{ $('Montar lembrete').item.json.patientPhone }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "confirming"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ JSON.stringify({ appointment_id: $('Montar lembrete').item.json.appointmentId }) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "d1000001-0000-0000-0000-000000000009",
      "name": "Atualizar conversa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 320],
      "credentials": {
        "supabaseApi": {
          "id": "ArEp44L1ngousPz7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Diário 17h": {
      "main": [
        [
          {
            "node": "Calcular amanhã",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular amanhã": {
      "main": [
        [
          {
            "node": "Buscar slots de amanhã",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar slots de amanhã": {
      "main": [
        [
          {
            "node": "Buscar appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar appointment": {
      "main": [
        [
          {
            "node": "Buscar paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar paciente": {
      "main": [
        [
          {
            "node": "Montar lembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar lembrete": {
      "main": [
        [
          {
            "node": "Enviar WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WAHA": {
      "main": [
        [
          {
            "node": "Atualizar appointment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "aec8f8a2dcc72fb894779bb30d2c9ac98c4fe17b595dbadd040d49fc744c4ba8"
  },
  "id": "auton-d1-confirmation",
  "tags": []
}
